*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Montserrat", sans-serif;
}
body{
    background:#f4f7f6;
    /* padding: 50px; */
}
.card-container{
    height: 550px;
    display: flex;
    gap: 30px; 
    margin: 0 auto;
    max-width: 1200px;
    justify-content: center;
    margin-bottom: 120px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    padding: 15px;
    border-radius: 20px;
}

.card-main {
    width: 300px;
    overflow: auto;
    flex: 2;
    vertical-align: top;
    justify-content: center;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
    border-radius: 20px;
    border: solid 1px #FAFAFA;
    padding: 10px;
}
::-webkit-scrollbar-thumb {
    background: #b6b8b9;
    border-radius: 10px;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #0077C0;
}
/* .border{
    overflow: auto;
} */
.cart-text h1{
    color:#0077C0;
}
.cart-text{
    margin-left: 160px;
    margin: 30px 160px;
;
}

.card-img {
    display: flex;
    align-items: center; 
    background-color:#FAFAFA;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #FAFAFA;
    margin-bottom: 20px;
    gap: 20px; 
    position: relative; 
    margin-top: 50px;
    box-shadow: 5px 5px 9px  rgba(0,0,0,0.3);}

.price {
    margin-left: auto; 
    display: flex;
    flex-direction: column; 
    align-items: flex-end;   
    justify-content: space-between;
    height: 80px;
}

.price i {
    color: #666;
    cursor: pointer;
    font-size: 18px;
}

.price span {
    font-weight: bold;
    font-size: 20px;
    color: #0077C0;
}


.img-card img {
    width: 100px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
}


.card-img h6{
    
    width: 90px;
    height:14px;
    border-radius: 10px;
    background-color: rgb(99, 183, 15);
    text-align: center;
    

}
.info {
    display: flex;
    flex-direction: column; 
    gap: 8px; 
    flex-grow: 1; 
}
.info h6{
    background-color: #C7EEFF;
}
.info h5{
    color: #0077C0;
}


.nav-links1 a.active {
  color: #0077C0;
  font-weight: bold;
   text-decoration: underline;
}



/* <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> */




 /* .card-add{
    display: flex;
    align-items: left; 
    background-color:#0077C0;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    margin-bottom: 20px;
    gap: 20px; 
    position: relative; 
    margin-top: 50px;
     flex-direction: column;
}
.card-add button{
    width: 120px;
    height: 30px;
    background-color:#C7EEFF;
    border-radius: 20px;
    font-size: 14px;
    border: none;
}  */


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



.Summary-card{
    background-color: #FAFAFA;
    /* margin: 20px  0;*** */
    border-radius: 18px;
    width: 350px;
    height: 100%;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
    transition:1s;
    vertical-align: top;
}
/* .Summary-card:hover{
     width: 4000px;
    height: 550px;
    background-color: #b6cedd;
} */


.Summary-card h3{
    color: #0077C0;
    margin-top: 20px;
    margin-left: 20px;
}
.subtotal{
    display: flex;
  flex-direction: column;
  gap: 10px;
  text-align:left;

}

.column{
  margin: 8px 0;
  font-size: 15px;
  line-height: 20px;
  color: #0077C0;
  /* background-color: #0077C0; */
 ;

}
.cont{
display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 90px;
   align-items: start; 
   padding-top: 40px;
   margin-left: 30px;
}

.total-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.text{
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}
.code{
    color: #666;
    background:#fffdfd;
    border-radius: 20px;
    width: 310px;
    height: 70px;
    margin-left: 10px;
}
.code h5{
    font-size: 10px;
    margin-left: 20px;
    margin-top: 8px;
}
.code-col input{
    border-radius: 15px;
    border: none;
    width: 220px;
    height: 20px;
    text-align: center;
    background:#e1dede;
    margin-top: 10px;
}
.button{
    cursor: pointer;
    margin-left: 40px;
    border: none;
    border-radius:15px;
    margin-left: 200px;
}
.code-col button{
    width: 65px;
    height: 30px;
    border-radius: 15px;
    border: none;
    color: #0077c0;
  background-color: #C7EEFF;
  /* margin-left: 30px; */
}
#checkout-btn{
    cursor: pointer;
}

#inp{

    margin-left: 15px;
    
}
.total {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap; 
}


.total button {
    width: 100%;
    /* height: 40px; */
    margin-top: 15px;
    padding: 10px;
    order: 3;
    border: none; 
    background-color: #1a3c34;
    border-radius: 15px;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ------------------payment */

.payment-form {
   background-color: #FAFAFA;
    margin-top: 105px;
    border-radius: 18px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 10px 5px 5px #add5ee;
    transition:3s;
    padding: 30px;
    margin-bottom: 30px;
    margin-left: 30%;

}

.payment-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.payinput-group {
  margin-bottom: 15px;
  position: relative;
}

.payinput-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.payinput-group input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: none;
  border-radius: 5px;
  background: #e1dede;
  color: #0077c0;
  font-size: 14px;
}

.payicons {
  position: absolute;
  right: 10px;
  top: 32px;
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.payicons img {
  width: 30px;
  height: auto;
  
  border-radius: 4px;
  background: #fff;
  padding: 2px;
}

.patinput-group{
    padding-bottom: 30px;
}

.paybutton {
  width: 100%;
  padding: 12px;
  background: #C7EEFF;
  border: none;
  border-radius: 5px;
  color: #0077c0;
  font-size: 16px;
  cursor: pointer;
}

.paybutton:hover {
  background: #C7EEFF;
}